body{
	background: #888;
}


.galeria{
	border-style: dotted;
	border-radius: 25px;
	width: 50%;
	height: 50%;
	background-color: #B0C4DE;
	margin:auto;

	
}

 img{
     
	border-radius: 500px;
	
	box-shadow: 0 0 25px rgba(5, 7, 1, .8);
  
	height:150px;
	width: 150px;
	margin: 30px;
	-webkit-filter: sepia(1);
 }

#lado{

    display: inline-block;
}

p{
	 font-size: 100%;
    font-style: italic;
    text-align: center;
    color:#ffffff;
 }
